//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif; 
}

.navbar {
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    color:#2B4762;
    position: fixed;
    z-index: 1030;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    .logo {
        line-height: 90px;
        float: left;
        img {
            width: 40%;
            margin: 10px;
        }
    }
    ul {
        float: right;
        list-style: none;
        text-align: right;
        li {
            display: inline-block;
            margin: 0 25px;
            line-height: 90px;
        }
        a {
            text-decoration: none;
            color: #2B4762;
            &:active {
                color: #61CE4E;
            }
        }
        button {
            background-color:#61CE4E;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            a {
                color: white;
                font-size: 15px;
            }
        }
    }  
}

.footer-bar {
    height: 300px;
    background-color: #1B3C59;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    ul {
        list-style: none;
        float: right;
        margin-top: 40px;
        text-align: right;
        li {
            padding: 15px;
        }
        a {
            color: white;
            padding: 10px;
            text-decoration: none;
        }
    }
    // .wrapper{
    //     width: 80%;
    //     margin: auto;
    // }
}

.students {
    display: flex;
    width: 80%;
    padding-top: 120px;
    margin: auto;
    flex-wrap: wrap;
    .student {
        width: calc(100% / 2 - 20px);
        background-color: lightgrey;
        margin: 10px;
        padding: 20px;
        .wrapper-info {
            img, .text {
                float: left;
            }
            img {
                width: 90px;
                margin-right: 10px; 
            }  
            .text {
                width: calc(100% - 100px)
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        .description-info {
            margin-top: 20px;
            text-align: justify;
        }
        
    }
}

.jumbo {
    display: flex;
    width: 80%;
    padding-top: 180px;;
    margin: auto;
    .jumbo-info {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    .img-computer {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        img {
            padding-top: 50px;
            max-height: 85%;
            margin: 0 auto;
        }
    }
    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #2B4762;
    }
    h2 {
        font-size: 23px;
        color: #2B4762;
    }
    ul {
        padding-left: 20px;
        li {
            padding-top: 10px;
            font-size: 18px;
            color: #2B4762;
        }
    }
    
}
